<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xcalibur || Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo_res.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.7 css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- font-awesome v4.6.3 css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- magnific-popup.css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- slicknav.min.css -->
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>


</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- preloder-wrap -->
    <div id="cssLoader3" class="preloder-wrap">
        <div class="loader">
            <div class="child-common child4"></div>
            <div class="child-common child3"></div>
            <div class="child-common child2"></div>
            <div class="child-common child1"></div>
        </div>
    </div>

    <header class="header-area">
        <div class="header-top bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>Xcalibur Bank : Banking The Way You Like...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo.png" /></a></h1>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="header-middle-right">
                            <ul>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>MON - SAT (9AM - 5PM)</p>
                                        <span>Sunday closed</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>MAIL US</p>
                                        <span>info@xcalibur.com</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>PHONE US</p>
                                        <span>+64-221669857</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom" id="sticky-header">
            <div class="container">
                <div class="row">
                    <div class="hidden-md hidden-lg col-sm-8 col-xs-6">
                        <div class="logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo_res.png" /><span style="font-family:'Bauhaus 93'; font-size:22px;">Calibur</span></a></h1>
                        </div>
                    </div>
                    <div class="col-md-11 hidden-sm hidden-xs">
                        <div class="mainmenu">
                            <ul id="navigation">
                                <li>
                                    <a href="/Home/Index">Home</a>

                                </li>
                                <li>
                                    <a href="/Home/About">About</a>

                                </li>
                                <li class="active">
                                    <a href="#">Services<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">Online Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Services We Provide">Internet Banking</a></li>
                                                <li><a href="/Home/Services#Services We Provide">E-Statements</a></li>

                                                <li><a href="/Home/Services#Services We Provide">Xcalibur Pay Go</a></li>
                                                <li><a href="/Home/Services#Services We Provide">Secured Banking</a></li>
                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Mobile Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Mobile Banking">Xcalibur Mobile</a></li>
                                                <li><a href="/Home/Services#Mobile Banking">UPI App Pay</a></li>

                                                <li><a href="/Home/Services#Mobile Banking">Xcalibur OK</a></li>
                                                <li><a href="/Home/Services#Mobile Banking">SMS Banking</a></li>
                                            </ul>

                                        </li>




                                        <li>
                                            <a href="#">Branch Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Branch Banking">ATM Banking</a></li>
                                                <li><a href="/Home/Services#Branch Banking">Cash Deposit Machine</a></li>

                                            </ul>

                                        </li>







                                        <li><a href="/Home/Services#Branch Banking">Remote Banking</a></li>
                                        <li><a href="/Home/Services#Branch Banking">Phone Banking</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Products <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Accounts<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Savings">Savings Accounts</a></li>
                                                <li><a href="/Home/Salary">Salary Account</a></li>
                                                <li><a href="/Home/Current">Current Account</a></li>
                                                <li><a href="/Home/DirectInvest">Direct Invest Account</a></li>
                                                <li><a href="/Home/SafeDeposit">Safe Deposit Lockers</a></li>
                                                <li><a href="/Home/Pension">Pension Disbursement Account</a></li>

                                            </ul>

                                        </li>


                                        <li>
                                            <a href="#">Deposits<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Fixed Deposits</a></li>
                                                <li><a href="/Home/Login">Recurring Deposits</a></li>
                                                <li><a href="/Home/Login">Tax Saver F.D.</a></li>
                                                <li><a href="/Home/Login">Fixed Deposit Plus</a></li>
                                                <li><a href="/Home/Login">Encash 24 Flexi Deposit</a></li>

                                            </ul>

                                        </li>


                                        <li>
                                            <a href="#">Cards<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Credit Cards</a></li>
                                                <li><a href="/Home/Login">Debit Cards</a></li>
                                                <li><a href="/Home/Login">Pre-Paid Cards</a></li>
                                                <li><a href="/Home/Login">Transit Cards</a></li>
                                                <li><a href="/Home/Login">Digital Payments</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Loans<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Home Loan</a></li>
                                                <li><a href="/Home/Login">Personal Loan</a></li>
                                                <li><a href="/Home/Login">Holiday Loan</a></li>
                                                <li><a href="/Home/Login">Car Loan</a></li>
                                                <li><a href="/Home/Login">Business Loan</a></li>
                                                <li><a href="/Home/Login">Education Loan</a></li>
                                                <li><a href="/Home/Login">Gold Loan</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Forex<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Forex Card</a></li>
                                                <li><a href="/Home/Login">International Funds Transfer</a></li>
                                                <li><a href="/Home/Login">Online Funds Transfer</a></li>
                                                <li><a href="/Home/Login">Foreign Currency Cash</a></li>
                                                <li><a href="/Home/Login">Foreign Currency DD</a></li>
                                                <li><a href="/Home/Login">F.C. Travellers Cheques</a></li>


                                            </ul>

                                        </li>





                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Grab Deals<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Shopping<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Shop Online</a></li>
                                                <li><a href="/Home/Login">Buy Movie Tickets</a></li>
                                                <li><a href="/Home/Login">Buy Groceries</a></li>
                                                <li><a href="/Home/Login">Book Flights</a></li>
                                                <li><a href="/Home/Login">Book Hotels</a></li>
                                                <li><a href="/Home/Login">Book Self Drive</a></li>
                                                <li><a href="/Home/Login">Send Gifts</a></li>
                                                <li><a href="/Home/Login">Compare & Buy</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Offers<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Credit Cards</a></li>
                                                <li><a href="/Home/Login">Debit Cards</a></li>
                                                <li><a href="/Home/Login">Internet Banking</a></li>
                                                <li><a href="/Home/Login">Mobile Banking</a></li>
                                                <li><a href="/Home/Login">UPI Payments</a></li>
                                                <li><a href="/Home/Login">Lifestyle</a></li>
                                                <li><a href="/Home/Login">Travel</a></li>
                                                <li><a href="/Home/Login">EMI</a></li>
                                                <li><a href="/Home/Login">Visa</a></li>

                                            </ul>

                                        </li>


                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Make Payments<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Recharge & Pay Bills<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Bill Pay & Recharge</a></li>
                                                <li><a href="/Home/Login">Locker Rent</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Investments<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">S.I.P</a></li>
                                                <li><a href="/Home/Login">Insurance Premium</a></li>
                                                <li><a href="/Home/Login">Loan Repayment</a></li>
                                                <li><a href="/Home/Login">Fixed Deposits</a></li>
                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Pay Taxes<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Income & Other Direct Tax</a></li>
                                                <li><a href="/Home/Login">Central Excise & Service Tax</a></li>
                                                <li><a href="/Home/Login">State Wise Tax</a></li>
                                                <li><a href="/Home/Login">Tax Assist.</a></li>
                                            </ul>

                                        </li>




                                    </ul>
                                </li>


                                <li><a href="/Home/Contact">Contact</a></li>
                                <li>
                                    <a href="/Home/Register">Open Account</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-3">
                        <div class="search-wrap text-right">
                            <ul>
                                <li>
                                    <a href="/Home/Login">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
                        <div class="responsive-menu-wrap floatright"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background:#1fb5ac; width:100%; height:2px; float:left;">

        </div>
    </header>
    <!-- heared area end -->

    <div style="margin-top:50px;">

    </div>
    <!-- .service-area start -->
    <section class="service-area pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 wow fadeInUp">
                    <div class="section-title text-center">
                        <h2><div id="Services We Provide">Services We Provide</div></h2>
                        <h2 style="font-size:20px; text-align:center;"><div id="Online Banking">Online Banking</div></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="service-wrap">
                        <div class="service-img">
                            <img src="/assets/images/ser/1.jpg" alt="" />
                        </div>
                        <div class="service-content">
                            <h3>Internet Banking</h3>
                            <p style="text-align:justify;">Too Busy To Be In Line, Just A Click You'll Be Online.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-wrap">
                        <div class="service-img">
                            <img src="/assets/images/ser/2.jpg" alt="" />
                        </div>
                        <div class="service-content">
                            <h3>E-Statements</h3>
                            <p style="text-align:justify;">
                                Go Green | Environment Friendly | Go Paperless

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                    <div class="service-wrap">
                        <div class="service-img">
                            <img src="/assets/images/ser/3.jpg" alt="" />
                        </div>
                        <div class="service-content">
                            <h3>XCalibur Pay Go</h3>
                            <p style="text-align:justify;">
                                PayGO offers payment solutions to Corporates/Communities/Societies.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title text-center">
                <h2 style="font-size:20px; margin-top:80px; text-align:center;"><div id="Mobile Banking">Mobile Banking</div></h2>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/4.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>XCalibur Mobile</h3>
                                <p style="text-align:justify;">Banking on the go, Services on a single click.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/5.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>UPI App Pay</h3>
                                <p style="text-align:justify;">
                                    Changed the way of making payments, altering all other payment options.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/6.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>SMS Banking</h3>
                                <p style="text-align:justify;">
                                    SMS banking alerts you to get reminders and other relevant information.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title text-center">
                <h2 style="font-size:20px; margin-top:80px; text-align:center;"><div id="Branch Banking">Branch Banking</div></h2>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/7.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>ATM Banking</h3>
                                <p style="text-align:justify;">ATM's are faster than going to the bank : No Long Queues.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/8.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>Cash Deposit Machines</h3>
                                <p style="text-align:justify;">
                                    All the transactions are credited and customers are issued advice slips.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                        <div class="service-wrap">
                            <div class="service-img">
                                <img src="/assets/images/ser/9.jpg" alt="" />
                            </div>
                            <div class="service-content">
                                <h3>Phone Banking</h3>
                                <p style="text-align:justify;">
                                    Offering transactions that are ten times cheaper than ATM transactions.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- .service-area end -->
    <!-- faq-area start -->
    <div class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12  wow fadeInUp">
                    <div class="section-title text-center">
                        <h2>FAQ's About Services</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12  wow fadeInLeft">
                    <div class="faq-wrap">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Internet Banking Registration
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">
                                            Our Bank ensures hassle free internet banking registrations in just a few easy steps. Online banking is secure with the added two-step authentication system of Netsecure. Follow the below steps for Internet banking registration and start banking online. Quick, easy steps to login and start banking online with ease.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            For Retail / Agri-Rural Customers
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">
                                            <ul style="text-align:justify;">
                                                <li><b>1.</b> To login to internet banking, you need the login id which is the same as your 9-digit Customer ID (mentioned on the welcome letter and printed on your cheque book), along with your login password.</li>
                                                <li><b>2.</b> You can also obtain your Customer ID by sending an SMS CUSTID to our phone banking executive.</li>
                                                <li><b>3.</b> New users can generate a password online by using the 'First time user option'. You can generate the login password using your debit card 4-digit ATM Pin and your registered mobile number.</li>
                                                <li><b>4.</b> If you have not applied for a Debit Card, a printed password will be delivered to you by courier.</li>
                                                <li><b>5.</b> In case you have forgotten your password click on "Forgot Password" link on the login page and generate your password online.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Unblock A Locked Account
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">

                                            <ul style="text-align:justify;">
                                                <li><b>1.</b> If you enter incorrect answer, then your Internet Banking access will be locked after 4 incorrect attempts.</li>
                                                <li><b>2.</b> This access will be automatically unlocked or enabled by 24:00 hours IST (midnight).</li>
                                                <li><b>3.</b> Once your Internet Banking access is unlocked, you may login through your usual device or visit our nearest Bank ATM to reset your questions instantly.</li>
                                                <li><b>4.</b> It may also be the case, that you do not have access to our Bank ATM or your usual device.</li>
                                                <li><b>5.</b> In such a situation, you may visit the branch to reset your answers.</li>
                                                <li><b>6.</b> The TAT for reset of answers through the branch is 1 day.</li>
                                            </ul>


                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingfour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                            Demat Accounts
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">
                                            100% waiver of AMC is applicable for 365 days from the date of account opening. After 365 days, AMC as applicable to your Demat account is debited on Pro-rata basis for the next Financial Year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingfive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                            Forex Cards
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsefive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">
                                            Forex Card Welcome Kit is handed over to you instantly on application. Contents of the Forex Card Welcome Kit is as listed below:
                                            <ul>
                                                <li>A) Forex Card</li>
                                                <li>B) Forex Card PIN</li>
                                                <li>C) User Manual</li>
                                                <li>D) Terms & Conditions</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingfsix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                            Get Your Customer ID
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsesix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">

                                            <ul style="text-align:justify;">
                                                <li><b>1.</b> Your Customer ID is mentioned on the welcome letter and cheque book that is mailed to you post your account opening.</li>
                                                <li><b>2.</b> You can also SMS CUSTID <account-number> to our banking executive from your registered mobile number to get your Customer ID*.</li>
                                                <li><b>3.</b> Example: CUSTID 913XXXXXXXXXXXX</li>
                                                <li>* SMS charges as specified by your operator will apply for the SMS requests sent by you.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12  wow fadeInLeft">

                    <div id="wowslider-container1">
                        <div class="ws_images">
                            <ul>
                                <li><img src="data1/images/apply_for_car_loan.png" alt="Apply for Car Loan" title="Apply for Car Loan" id="wows1_0" /></li>
                                <li><img src="data1/images/apply_for_debit__credit_cards.jpg" alt="Apply For Debit & Credit Cards" title="Apply For Debit & Credit Cards" id="wows1_1" /></li>
                                <li><img src="data1/images/commercial_gold_loan_approval_with_ease.jpg" alt="Commercial Gold Loan Approval With Ease" title="Commercial Gold Loan Approval With Ease" id="wows1_2" /></li>
                                <li><a href="http://wowslider.net"><img src="data1/images/health__life_insurance_is_a_must.jpg" alt="carousel jquery" title="Health & Life Insurance is a Must" id="wows1_3" /></a></li>
                                <li><img src="data1/images/instant_approval_of_home_loans.jpg" alt="Instant Approval of Home Loans" title="Instant Approval of Home Loans" id="wows1_4" /></li>
                            </ul>
                        </div>
                        <div class="ws_bullets">
                            <div>
                                <a href="#" title="Apply for Car Loan"><span><img src="data1/tooltips/apply_for_car_loan.png" alt="Apply for Car Loan" />1</span></a>
                                <a href="#" title="Apply For Debit & Credit Cards"><span><img src="data1/tooltips/apply_for_debit__credit_cards.jpg" alt="Apply For Debit & Credit Cards" />2</span></a>
                                <a href="#" title="Commercial Gold Loan Approval With Ease"><span><img src="data1/tooltips/commercial_gold_loan_approval_with_ease.jpg" alt="Commercial Gold Loan Approval With Ease" />3</span></a>
                                <a href="#" title="Health & Life Insurance is a Must"><span><img src="data1/tooltips/health__life_insurance_is_a_must.jpg" alt="Health & Life Insurance is a Must" />4</span></a>
                                <a href="#" title="Instant Approval of Home Loans"><span><img src="data1/tooltips/instant_approval_of_home_loans.jpg" alt="Instant Approval of Home Loans" />5</span></a>
                            </div>
                        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">css image slider</a> by WOWSlider.com v8.8</div>
                        <div class="ws_shadow"></div>
                    </div>




                </div>

            </div>
        </div>
    </div>
    <!-- faq-area end -->
    <!-- testmonial-area start -->
    <!-- testmonial-area end -->
    <!-- praller-area start -->
    <div style="margin-top:50px;">

    </div>


    <!-- footer-area start  -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12  col wow fadeInUp" data-wow-delay=".1s">
                        <div class="footer-widget footer-logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo.png" /></a></h1>
                            <p>Banking The Way You Like...</p>
                            <ul>
                                <li><i class="fa fa-phone"></i> +64-221669857</li>
                                <li><i class="fa fa-envelope"></i> info@xcalibur.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                        <div class="footer-widget footer-menu">
                            <h2>Footer Menu</h2>
                            <ul>
                                <li><a href="/Home/Index">Home</a></li>
                                <li><a href="/Home/About">About us</a></li>
                                <li><a href="/Home/Contact">Contact</a></li>
                                <li><a href="/Home/Register">Open Account</a></li>
                                <li><a href="/Home/Login">Login</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                        <div class="footer-widget quick-contact">
                            <h2>Quick Connect</h2>
                            <p style="color:#FFF;">#18-A, Kentigern, Close Pakuranga, New Zealand</p>
                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.1769050987773!2d174.86971537112657!3d-36.910034476423185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4be9b1e3ff77%3A0xdef98040f809fd4a!2s18A+Kentigern+Cl%2C+Pakuranga%2C+Auckland+2010%2C+New+Zealand!5e0!3m2!1sen!2sin!4v1547035387268" width="325" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        Copyright &copy; Xcalibur Bank
                        <script>document.write(new Date().getFullYear());</script> All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area end  -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- counterup.main.js -->
    <script src="/assets/js/counterup.main.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- jquery.waypoints.min.js -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <!-- jquery.magnific-popup.min.js -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- jquery.slicknav.min.js -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>
    <!-- snake.min.js -->
    <script src="/assets/js/snake.min.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="/assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="/assets/js/scripts.js"></script>

    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>

</body>
</html>