
<section id="main-content" >
    <section class="wrapper">
        <div class="row">
            <div class="col-md-12">
            <section class="panel"  style="border:1px dashed #1fb5ac;">
            <h3 align="center" style="color:#1fb5ac; font-weight:bold; font-family:'MS Serif', 'New York', serif; padding:10px; font-size:24px;">Add New Beneficiary</h3>
            </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body profile-information" style="border:1px dashed #1fb5ac;">
            <div class="col-md-6">
                <section class="panel">
                    <div class="panel-body">

                            <form (ngSubmit)="saveBeneficiary()" ngNativeValidate>
                    <table border="0" width="100%">    
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Beneficiary Name</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder="" class="form-control" 
                name="beneficiaryname" value="" required
                [(ngModel)]="beneficiaryModel.name"></h4>
            </td>
            </tr>
            
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Nick Name</h4>
            </td>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiarynickname" value="" required
                [(ngModel)]="beneficiaryModel.nickName"></h4>
            </td>
            </tr>
            
            
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Account No.</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiaryaccountnumber" value="" required
                [(ngModel)]="beneficiaryModel.accountNumber"></h4>
            </td>
            </tr>
            
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Confirm A/c. No.</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiaryconfirmaccountnumber" value="" required
                [(ngModel)]="beneficiaryModel.confirmAccountNumber"></h4>
            </td>
            </tr>
            
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">IFSC Code</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiaryifsccode" value="" required
                [(ngModel)]="beneficiaryModel.ifsccode"></h4>
            </td>
            </tr>
            
            <!-- <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Max. Amount</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiarymaxamount" value="" required
                [(ngModel)]="beneficiaryModel.maxAmount"></h4>
            </td>
            </tr>
             -->
            <!-- <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Max. Transactions</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiarymaxtransactions" value="" required
                [(ngModel)]="beneficiaryModel.maxTransactions"></h4>
            </td>
            </tr> -->
            
            <tr>
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-size:17px; font-weight:bold;">Address</h4>
            </td>
            
            <td width="50%">
            <h4 style="color:#1fb5ac; font-family:'MS Serif', 'New York', serif; font-weight:bold; font-size:17px;">
                <input type="text" placeholder=" " id="c-name" class="form-control" 
                name="beneficiaryaddress" value="" required
                [(ngModel)]="beneficiaryModel.address"></h4>
            </td>
            </tr>
            
           <tr>
           <td height="30">
           <!-- <span *ngIf="responsemessage">{{responsemessage}}</span> -->
           </td>
           </tr>
           
           <tr>
           <td width="100%" colspan="2" align="center">
           <button type="submit" class="btn btn-primary" >Save</button> 
                    <button type="button" class="btn btn-default"
                    style="margin-left:10px !important;"
                     (click)="onCancel()">Cancel</button>
               </td>
               </tr>             
            </table>
            </form>

                    </div>
                </section>
            </div>
            
            <div class="col-md-6">
                <section class="panel">
                    <div class="panel-body">
<table border="1">
<tr>
    <td>
    
            <img class="bene" width="280" height="533"/>	
    
    </td>
   </tr>
        </table>			

                    </div>
                </section>
            </div>
           
           
                    </div>
                    
           
                </section>
             </div> 
         </div>  
               

    </section>
</section>

