
        <!-- <div id="cssLoader3" class="preloder-wrap">
                <div class="loader">
                    <div class="child-common child4"></div>
                    <div class="child-common child3"></div>
                    <div class="child-common child2"></div>
                    <div class="child-common child1"></div>
                </div>
            </div> -->
<block-ui>          
            <header class="header-area">
                <div class="header-top bg-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8 col-xs-12">
                                <div class="header-top-left">
                                    <p>Xcalibur Bank : Banking The Way You Like...</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <div class="header-top-right text-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle bg-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 hidden-sm hidden-xs">
                                <div class="logo">
                                    <h1><a href="http://localhost:60826/index.aspx"><img src="assets/images/logo.png"/></a></h1>
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <div class="header-middle-right">
                                    <ul>
                                        <li>
                                            <div class="contact-icon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <div class="contact-info">
                                                <p>MON - SAT (9AM - 5PM)</p>
                                                <span>Sunday closed</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="contact-info">
                                                <p>MAIL US</p>
                                                <span>info@xcalibur.com</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="contact-info">
                                                <p>PHONE US</p>
                                                <span>+64-221669857</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom"  id="sticky-header">
                    <div class="container">
                        <div class="row">
                            <div class="hidden-md hidden-lg col-sm-8 col-xs-6">
                                <div class="logo">
                                    <h1><a href="http://localhost:60826/index.aspx"><img src="assets/images/logo_res.png" /><span style="font-family:'Bauhaus 93'; font-size:22px;">Calibur</span></a></h1>
                                </div>
                            </div>
                            <div class="col-md-11 hidden-sm hidden-xs">
                                <div class="mainmenu">
                                    <ul id="navigation" style="margin-bottom:0px !important;">
                                        <li><a href="http://localhost:60826/index.aspx">Home</a>
                                          
                                        </li>
                                        <li><a href="http://localhost:60826/about.aspx">About</a>
                                          
                                                        </li>
                                        <li><a href="javascript:void(0)">Services <i class="fa fa-angle-down"></i></a>
                                          <ul class="submenu">
                                            <li><a href="#">Online Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                <li><a href="http://localhost:60826/services.aspx">Internet Banking</a></li>
                                                <li><a href="http://localhost:60826/services.aspx">E-Statements</a></li>
                                                
                                                <li><a href="http://localhost:60826/services.aspx">Xcalibur Pay Go</a></li>
                                                <li><a href="http://localhost:60826/services.aspx">Secured Banking</a></li>
                                              </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Mobile Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                <li><a href="http://localhost:60826/services.aspx">Xcalibur Mobile</a></li>
                                                <li><a href="http://localhost:60826/services.aspx">UPI App Pay</a></li>
                                                
                                                <li><a href="http://localhost:60826/services.aspx">Xcalibur OK</a></li>
                                                <li><a href="http://localhost:60826/services.aspx">SMS Banking</a></li>
                                              </ul>
                                                                
                                                                </li>
                                            
                                                                
                                                                
                                                                
                                                                <li><a href="javascript:void(0)">Branch Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                <li><a href="http://localhost:60826/services.aspx">ATM Banking</a></li>
                                                <li><a href="http://localhost:60826/services.aspx">Cash Deposit Machine</a></li>
                              
                                              </ul>
                                                                
                                                                </li>
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                            
                                                               <li><a href="http://localhost:60826/services.aspx">Remote Banking</a></li>
                                                               <li><a href="http://localhost:60826/services.aspx">Phone Banking</a></li>
                                          </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Products <i class="fa fa-angle-down"></i></a>
                                          <ul class="submenu">
                                            
                                                                <li><a href="javascript:void(0)">Accounts<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Savings Accounts</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Salary Account</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Current Account</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Direct Invest Account</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Safe Deposit Lockers</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Safe Custody</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">National Pension System(NPS)</a></li>
                                                                    <li><a href="javascript:void(0)" routerLink="/login">Pension Disbursement Account</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                
                                                                <li><a href="javascript:void(0)">Deposits<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Fixed Deposits</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Recurring Deposits</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Tax Saver F.D.</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Fixed Deposit Plus</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Encash 24 Flexi Deposit</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                
                                                                <li><a href="javascript:void(0)">Cards<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Credit Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Debit Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Pre-Paid Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Transit Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Digital Payments</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Loans<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Home Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Personal Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Holiday Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Car Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Business Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Education Loan</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Gold Loan</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Forex<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Forex Card</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">International Funds Transfer</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Online Funds Transfer</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Foreign Currency Cash</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Foreign Currency DD</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">F.C. Travellers Cheques</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                
                                                                
                                                                
                                            
                                          </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Grab Deals<i class="fa fa-angle-down"></i></a>
                                                            <ul class="submenu">
                                                               
                                                               <li><a href="javascript:void(0)">Shopping<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Shop Online</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Buy Movie Tickets</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Buy Groceries</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Book Flights</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Book Hotels</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Book Self Drive</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Send Gifts</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Compare & Buy</a></li>
                                                              </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Offers<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Credit Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Debit Cards</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Internet Banking</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Mobile Banking</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">UPI Payments</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Lifestyle</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Travel</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">EMI</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Visa</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                               
                                                               
                                                            </ul>
                                                        </li>
                                        <li><a href="javascript:void(0)">Make Payments<i class="fa fa-angle-down"></i></a>
                                                            <ul class="submenu">
                                            
                                            <li><a href="javascript:void(0)">Recharge & Pay Bills<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Bill Pay & Recharge</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Locker Rent</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Investments<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">S.I.P</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Insurance Premium</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Loan Repayment</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Fixed Deposits</a></li>
                                                                </ul>
                                                                
                                                                </li>
                                                                
                                                                <li><a href="javascript:void(0)">Pay Taxes<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
                                                                
                                                                <ul class="submenu">
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Income & Other Direct Tax</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Central Excise & Service Tax</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">State Wise Tax</a></li>
                                                                  <li><a href="javascript:void(0)" routerLink="/login">Tax Assist.</a></li>
                                                                </ul>
                                                                                  
                                                                </li>
                                            
                                            
                                            
                                            
                                          </ul>
                                        </li>
                                        <li class="active"><a href="javascript:void(0)" routerLink="/contact">Contact</a></li>
                                        <li><a href="javascript:void(0)" routerLink="/register">Open Account</a>
                                          
                                        </li>
                                      </ul>
                                </div>
                              </div>
                              <div class="col-md-1 col-sm-2 col-xs-3">
                                <div class="search-wrap text-right">
                                  <ul>
                                    <li class="active" style="margin-bottom: -18px;" >
                                      <a href="javascript:void(0)" routerLink="/login">
                                        <i class="fa fa-lock"></i>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                              </div>
                        </div>
                    </div>
                </div>
                
                
                
                
            </header>
            <!-- heared area end -->
    
            <!-- slider area start -->
            
            
            
            
            <div class="breadcumb-area black-opacity bg-img-4">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcumb-wrap">
                                <h2>Contact us</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcumb-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li><a href="http://localhost:60826/index.aspx">Home</a></li>
                                    <li style="color:#F99;">/</li>
                                    <li><a href="javascript:void(0);" routerLink="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            <div class="contact-area ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="contact-wrap form-style">
                                <h3>Contact Me</h3>
                                <div class="cf-msg"></div>
                                <form (ngSubmit)="sendMessage()" ngNativeValidate>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="text" placeholder="Name" id="name" 
                                            name="name" value="" required
                                            [(ngModel)]="messageModel.name">
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="text" placeholder="Email" id="email" 
                                            name="email" value="" required
                                            [(ngModel)]="messageModel.email">
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" placeholder="Subject" id="subject" 
                                            name="subject" value="" required
                                            [(ngModel)]="messageModel.subject">
                                        </div>
                                        <div class="col-xs-12">
                                            <textarea class="contact-textarea" placeholder="Message" 
                                            id="msg" name="msg" required
                                            [(ngModel)]="messageModel.message"></textarea>
                                        </div>
                                        <div class="col-xs-12">
                                            <button id="submit" 
                                            class="cont-submit btn-contact btn-style" 
                                            name="submit">SEND MESSAGE</button>
                                        </div>
                                        <!-- <div class="col-xs-12" *ngIf="responsemessage">
                                                <span style="padding: 12px;font-size: 15px;
                                                ">{{responsemessage}}</span>
                                        </div> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-wrap">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p>+64-221669857</p>
                                        
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p>info@xcalibur.com</p>
                                        
                                    </li>
                                    <li>
                                        <i class="fa fa-fax"></i>
                                        <p>+64-221669857</p>
                                        
                                    </li>
                                    <li>
                                        <i class="fa fa-location-arrow"></i>
                                        18-A, Kentigern, Close Pakuranga, New Zealand
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="googleMap">
                            
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.1769050987773!2d174.86971537112657!3d-36.910034476423185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4be9b1e3ff77%3A0xdef98040f809fd4a!2s18A+Kentigern+Cl%2C+Pakuranga%2C+Auckland+2010%2C+New+Zealand!5e0!3m2!1sen!2sin!4v1547035387268" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <!-- slider area end -->
    
            <!-- about-area start -->
            
            <!-- about-area end -->
    
            
            
            
            
            
            
            
            
            <!-- footer-area start  -->
            <footer>
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12  col wow fadeInUp" data-wow-delay=".1s">
                                <div class="footer-widget footer-logo">
                                    <h1><a href="http://localhost:60826/index.aspx"><img src="assets/images/logo.png"/></a></h1>
                                    <p>Banking The Way You Like...</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i> +64-221669857</li>
                                        <li><i class="fa fa-envelope"></i> info@xcalibur.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                                <div class="footer-widget footer-menu">
                                    <h2>Footer Menu</h2>
                                    <ul>
                                            <li><a href="http://localhost:60826/index.aspx">Home</a></li>
                                            <li><a href="http://localhost:60826/about.aspx">About us</a></li>
                                            <li><a href="javascript:void(0)" routerLink="/contact">Contact</a></li>
                                            <li><a href="javascript:void(0)" routerLink="/register">Open Account</a></li>
                                            <li><a href="javascript:void(0)" routerLink="/login">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                                <div class="footer-widget quick-contact">
                                    <h2>Quick Connect</h2>
                                    <p style="color:#FFF;">#18-A, Kentigern, Close Pakuranga, New Zealand</p>
                                    <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.1769050987773!2d174.86971537112657!3d-36.910034476423185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4be9b1e3ff77%3A0xdef98040f809fd4a!2s18A+Kentigern+Cl%2C+Pakuranga%2C+Auckland+2010%2C+New+Zealand!5e0!3m2!1sen!2sin!4v1547035387268" width="325" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                
    Copyright &copy; Xcalibur Bank 2019 All Rights Reserved
         </div>
                        </div>
                    </div>
                </div>
            </footer>
</block-ui>